<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bahay Pares Tapsihan Admin Account Page</title>
  <link rel="icon" href="/images/bahaypareslogo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles1.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    h1 {
      font-size: 20px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 34px;
    }

    .switch-label {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(35px, -50%);
      /* Adjust the horizontal positioning as needed */
      font-size: 16px;
      /* Adjust the font size as needed */
      white-space: nowrap;
      /* Prevent text from wrapping */
    }

    .switch input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked+.slider {
      background-color: #2196F3;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(66px);
      -ms-transform: translateX(66px);
      transform: translateX(66px);
    }
  </style>
</head>

<body>
  <header>
    <div class="header-content">
      <img class="logo" src="/images/bahaypareslogo.png" alt="Logo">

    </div>

    <nav>
      <a id="updateOrderLink" href="/Updateorder">Update Delivery Status</a>
      <a id="menuCustomizationLink" href="/menucustomization">Menu Update</a>
      <a id="orderHistoryLink" href="/OrderHistory">Order History</a>
      <a id="manageAccountsLink" href="/superadmin">Manage Accounts</a>
      <button id="logoutButton" style="display: none;">Logout</button>
    </nav>
  </header>

  <div class="admin-sections">
    <div class="admin-section">
      <h1>Admin Accounts</h1>
      <div class="menu-items-container">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Type of User</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="data-body">
            <!-- Data from MongoDB will be inserted here -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="admin-section">
      <h1>Register Admin Account</h1>
      <table align="center">
        <form id="insertForm">
          <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" id="username" name="username" required></td>
          </tr>
          <tr>
            <td><label for="email">Email:</label></td>
            <td>
              <input type="text" id="email" name="email" required>
              <span id="emailError" class="error-message"></span>
            </td>
          </tr>
          <tr>
            <td><label for="userOption">Type of Account:</label></td>
            <td>
              <select id="userOption" name="userOption">
                <option value="Cashier">Cashier</option>
                <option value="KitchenPersonnel">Kitchen Personnel</option>
                <option value="DeliveryPerson">Delivery Person</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" required></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button type="button" onclick="insertRecordAdmin()">Register</button>
            </td>
          </tr>
        </form>
      </table>
    </div>

    <div class="admin-section">
      <h1>Update Super Admin Account</h1>
      <table align="center">
        <form id="updateSuperAdminForm">
          <tr>
            <td><label for="updateOption">Update Option:</label></td>
            <td>
              <select id="updateOption" name="updateOption" onchange="toggleFields()">
                <option value="newEmail">New Email</option>
                <option value="newPassword">New Password</option>
              </select>
            </td>
          </tr>
          <tr id="oldEmailRow">
            <td><label for="oldSuperEmail">Enter the Old Email:</label></td>
            <td><input type="text" id="oldSuperEmail" name="oldSuperEmail"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></td>
          </tr>
          <tr id="oldPasswordRow">
            <td><label for="oldSuperPassword">Enter the Old Password:</label></td>
            <td><input type="password" id="oldSuperPassword" name="oldSuperPassword" required></td>
          </tr>
          <tr id="newEmailRow" style="display:none;">
            <td><label for="newSuperEmail">New Email:</label></td>
            <td><input type="email" id="newSuperEmail" name="newSuperEmail"></td>
          </tr>
          <tr id="newPasswordRow" style="display:none;">
            <td><label for="newSuperPassword">New Password:</label></td>
            <td><input type="password" id="newSuperPassword" name="newSuperPassword"></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button type="button" onclick="updateSuperAdmin()">Update</button>
            </td>
          </tr>
        </form>
      </table>
    </div>

    <div class="admin-section">
      <h1>Update Delivery Fee</h1>
      <table align="center">
        <form id="updateDeliveryFeeForm">
          <tr>
            <td><label for="locationDropdown">Select Location:</label></td>
            <td>
              <select id="locationDropdown" onchange="updateDeliveryFee()">
                <!-- Populate this dropdown dynamically with data from the database using JavaScript -->
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="deliveryFee">Delivery Fee:</label></td>
            <td>
              <span id="deliveryFee"></span> <!-- Display Delivery Fee as text -->
            </td>
          </tr>
          <tr>
            <td><label for="newDeliveryFee">New Delivery Fee:</label></td>
            <td><input type="number" id="newDeliveryFee" name="newDeliveryFee"></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button type="button" onclick="updateDeliveryFeeData()">Update Delivery Fee</button>
            </td>
          </tr>
        </form>
      </table>
    </div>

    <div class="admin-section">
      <h1>Toggle Website Open/Close</h1>
      <table align="center">
        <form id="toggleRestaurantStateForm">
          <tr>
            <td>
              <label for="restaurantState">Restaurant Status:</label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" id="restaurantState" onchange="toggleRestaurantState()">
                <span class="slider round">
                  <span id="switchText" class="switch-label">Closed</span>
                </span>
              </label>
            </td>
          </tr>
        </form>
      </table>
    </div>

  </div>


  <br><br><br><br><br><br><br><br><br>

  <div class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com/tapsihansapasongbayog/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="copyright">
      &copy; 2023 Bahay Pares Tapsihan – Dasmariñas.
    </div>
  </div>

  <script>
    window.onload = function () {
      checkRestaurantState();
      fetchData();
      fetchDeliveryFeeData();
      toggleFields();
    }

    // Function to check restaurant state and adjust the switch text and state
    function checkRestaurantState() {
      fetch('/checkRestaurantState')
        .then(response => response.json())
        .then(data => {
          const restaurantStateInput = document.getElementById('restaurantState');
          const switchText = document.getElementById('switchText');

          if (data.state === 'Closed') {
            restaurantStateInput.checked = false;
            switchText.textContent = 'Closed';
            switchText.style.transform = 'translate(35px, -50%)';
          } else {
            restaurantStateInput.checked = true;
            switchText.textContent = 'Open';
            switchText.style.transform = 'translate(15px, -50%)';
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function toggleFields() {
      const updateOption = document.getElementById('updateOption').value;
      const oldEmailRow = document.getElementById('oldEmailRow');
      const oldPasswordRow = document.getElementById('oldPasswordRow');
      const newEmailRow = document.getElementById('newEmailRow');
      const newPasswordRow = document.getElementById('newPasswordRow');

      oldEmailRow.style.display = 'table-row';
      oldPasswordRow.style.display = 'table-row';

      if (updateOption === 'newEmail') {
        newEmailRow.style.display = 'table-row';
        newPasswordRow.style.display = 'none';
      } else if (updateOption === 'newPassword') {
        newEmailRow.style.display = 'none';
        newPasswordRow.style.display = 'table-row';
      }
    }

    let deliveryFeeData; // Global variable to store the fetched data

    // Function to fetch data from the server and populate the dropdown
    async function fetchDeliveryFeeData() {
      const response = await fetch('/fetchdeliveryfee');
      if (response.ok) {
        deliveryFeeData = await response.json();
        const locationDropdown = document.getElementById('locationDropdown');

        // Clear existing options
        locationDropdown.innerHTML = '<option value="">Select a location</option>';

        // Populate the dropdown with data from the database
        deliveryFeeData.forEach((item) => {
          const option = document.createElement('option');
          option.value = item.Location;
          option.textContent = item.Location;
          locationDropdown.appendChild(option);
        });
      } else {
        console.error('Error fetching delivery fee data');
      }
    }

    // Function to update the Delivery Fee text based on the selected location
    function updateDeliveryFee() {
      const locationDropdown = document.getElementById('locationDropdown');
      const deliveryFeeSpan = document.getElementById('deliveryFee');
      const selectedLocation = locationDropdown.value;

      // Find the selected location in the data array and update the content of the span
      if (selectedLocation) {
        const selectedData = deliveryFeeData.find((item) => item.Location === selectedLocation);
        if (selectedData) {
          deliveryFeeSpan.textContent = selectedData.DeliveryFee;
        }
      } else {
        deliveryFeeSpan.textContent = '';
      }
    }


    // Function to update the Delivery Fee in the database
    async function updateDeliveryFeeData() {
      const locationDropdown = document.getElementById('locationDropdown');
      const newDeliveryFeeInput = document.getElementById('newDeliveryFee');
      const selectedLocation = locationDropdown.value;
      const newDeliveryFee = newDeliveryFeeInput.value;

      if (!selectedLocation || newDeliveryFee === '') {
        alert('Please select a location and enter a new Delivery Fee.');
        return;
      }

      // Send the updated data to the server
      const response = await fetch('/updatedeliveryfee', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          location: selectedLocation,
          newDeliveryFee: parseFloat(newDeliveryFee)
        }),
      });

      if (response.ok) {
        // Success message or further handling
        alert('Delivery Fee updated successfully.');

        location.reload();

      } else {
        alert('Error updating Delivery Fee.');
      }
    }

    function toggleRestaurantState() {
      const restaurantStateInput = document.getElementById('restaurantState');
      const newState = restaurantStateInput.checked ? 'Open' : 'Closed';

      // Send an AJAX request to update the restaurant state in the database
      // You should replace 'your-api-endpoint' with the actual endpoint to update the state
      fetch('/updateRestaurantstate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            state: newState
          }),
        })
        .then((response) => {
          if (response.ok) {
            checkRestaurantState();
            alert(`Restaurant is now ${newState}`);
          } else {
            alert('Failed to update restaurant state');
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    async function updateSuperAdmin() {
      const oldSuperEmail = document.getElementById('oldSuperEmail').value;
      const oldSuperPassword = document.getElementById('oldSuperPassword').value;
      const updateOption = document.getElementById('updateOption').value;
      const newSuperEmail = document.getElementById('newSuperEmail').value;
      const newSuperPassword = document.getElementById('newSuperPassword').value;

      try {
        if (!oldSuperEmail || !oldSuperPassword || !updateOption) {
          alert('Please fill in all fields.');
          return;
        }

        if (updateOption === 'newEmail' && !newSuperEmail) {
          alert('Please provide the new email for the update.');
          return;
        }

        if (updateOption === 'newPassword' && !newSuperPassword) {
          alert('Please provide the new password for the update.');
          return;
        }

        const data = {
          oldSuperEmail: oldSuperEmail,
          oldSuperPassword: oldSuperPassword,
          updateOption: updateOption,
          newSuperEmail: newSuperEmail,
          newSuperPassword: newSuperPassword,
        };

        const response = await fetch('/updateSuperAdmin', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        });

        const result = await response.json();
        if (result.error) {
          alert('Error: ' + result.error);
        } else {
          alert(result.message);
          document.getElementById('updateSuperAdminForm').reset();
          window.location.href = '/superadmin';
        }
      } catch (error) {
        console.error('Error updating super admin:', error);
        alert('An error occurred while updating the super admin account.');
      }
    }

    // Function to delete data from MongoDB
    async function deleteData(username) {
      try {
        // Show a confirmation dialog before proceeding with the deletion
        const shouldDelete = confirm(`Are you sure you want to delete the user "${username}"?`);
        if (!shouldDelete) {
          return; // Do nothing if the user cancels the deletion
        }

        const response = await fetch('/delete', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            username
          }),
        });

        const result = await response.json();

        const dataBody = document.getElementById('data-body');
        dataBody.innerHTML = '';

        alert(result.message); // Display a message after deletion

        // Fetch data again to update the table
        await fetchData(); // Use await to wait for fetchData to complete

      } catch (error) {
        console.error('Error deleting data:', error);
      }
    }

    async function insertRecordAdmin() {
      const username = document.getElementById('username').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const userOption = document.getElementById('userOption').value; // Get the selected account type

      // Check if all fields are filled
      if (!username || !email || !password || !userOption) {
        alert('Please fill in all fields for Register Admin Accounts');
        return;
      }

      // Include password, email, and user type in the data
      const data = {
        username: username,
        email: email,
        password: password, // Store the plain password, it will be hashed on the server
        userType: userOption, // Add the selected user type to the data
      };

      try {
        const response = await fetch('/insertAdmin', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        });

        const result = await response.json();
        alert(result.message);
        document.getElementById('insertForm').reset();
        window.location.href = '/superadmin';
      } catch (error) {
        console.error('Error inserting record:', error);
        alert('An error occurred while inserting the record.');
      }
    }


    // Function to fetch data and populate the table
    async function fetchData() {
      try {
        const response = await fetch('/admin');
        const data = await response.json();

        // Access the table body element
        const dataBody = document.getElementById('data-body');

        // Loop through the data and create table rows
        data.forEach((user) => {
          const row = document.createElement('tr');
          const usernameCell = document.createElement('td');
          const emailCell = document.createElement('td');
          const typeCell = document.createElement('td');
          const deleteButtonCell = document.createElement('td'); // New column for the delete button

          usernameCell.textContent = user.username;
          emailCell.textContent = user.email;
          typeCell.textContent = user.userType;

          const deleteButton = document.createElement('button');
          deleteButton.textContent = 'Delete';
          deleteButton.addEventListener('click', () => deleteData(user
            .username)); // Add event listener for the delete action

          deleteButtonCell.appendChild(deleteButton);
          row.appendChild(usernameCell);
          row.appendChild(emailCell);
          row.appendChild(typeCell);
          row.appendChild(deleteButtonCell); // Add the delete button cell to the row

          dataBody.appendChild(row);
        });
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    document.addEventListener('DOMContentLoaded', async function () {
      // Fetch the user's state from the server and store it in a variable
      let userIsSuperAdmin = false; // Initialize as false

      try {
        const response = await fetch(
          '/get-user-state'); // Replace with the actual route to check the user's state
        const data = await response.json();

        if (data && data.isSuperAdmin) {
          userIsSuperAdmin = true;
        }
      } catch (error) {
        console.error('Error checking Super Admin state:', error);
      }

      // Now you have the user's Super Admin state (userIsSuperAdmin) available
      // Modify the navigation links based on the Super Admin state
      const navLinks = document.querySelectorAll('nav a');

      if (userIsSuperAdmin) {
        // If the user has the Super Admin state, show all navigation links, including "Manage Accounts"
        navLinks.forEach((link) => {
          link.style.display = 'block';
        });
      } else {
        // For non-Super Admin users, selectively show/hide links
        const allowedLinks = {
          'Cashier': ['/Updateorder', '/OrderHistory'],
          'Kitchen Personnel': ['/Updateorder', '/menucustomization'],
          'Delivery Person': ['/Updateorder'],
        };

        navLinks.forEach((link) => {
          const href = link.getAttribute('href');

          // Check if the href is in the user's allowed links
          if (allowedLinks[userRole] && allowedLinks[userRole].includes(href)) {
            link.style.display = 'block'; // Show the link
          } else {
            link.style.display = 'none'; // Hide the link
          }
        });
      }

      // If the user has a specific state, you can show additional elements (if needed)
      if (userIsSuperAdmin) {
        document.querySelector('#manageAccountsLink').style.display = 'block'; // Show Manage Accounts link
      }
    });



    //LOGOUT FUNCTION
    document.addEventListener('DOMContentLoaded', function () {
      const logoutButton = document.getElementById('logoutButton');

      // Check if the user is authenticated by making a GET request to a route that
      // returns the user information when authenticated
      fetch('/check-auth', {
          method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
          if (data.isAuthenticated) {
            // If the user is authenticated, show the logout button
            logoutButton.style.display = 'block';

            // Add a click event listener to the logout button
            logoutButton.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              // Check if the user confirmed the logout
              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', {
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
          } else {
            // If the user is not authenticated, keep the logout button hidden
            logoutButton.style.display = 'none';
          }
        })
        .catch(error => {
          console.error('Error checking authentication:', error);
        });
    });
  </script>
</body>

</html>