<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bahay Pares Tapsihan View Order Page</title>
  <link rel="icon" href="/images/bahaypareslogo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/deliverystatus.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
  <header>
    <nav>
      <div class="logo-container">
        <a href="/"><img class="logo" src="/images/bahaypareslogo.png" alt="Logo"></a>
      </div>
      <div class="menu-icon" id="menuIcon">
        <i class="fas fa-bars fa-2x"></i>
        <input type="hidden" span id="welcomeUsername">
        <input type="hidden" id="userId" name="userId">
      </div>
      <div class="nav-items">
        <a href="/"><i class="fas fa-home" style="color: #002DB3;  margin-right: 3px;" ></i> Home</a>
        <a href="/menu"><i class="fas fa-utensils" style="color: #002DB3;  margin-right: 3px;"></i> Menu</a>
        <a href="/Vieworder"><i class="fas fa-truck"style="color: #002DB3;  margin-right: 3px;"></i> Delivery Status</a>
        <a href="/AboutUs"><i class="fas fa-info-circle"style="color: #002DB3;  margin-right: 3px;"></i> About Us</a>
        <a href="/ContactUs"><i class="fas fa-phone"style="color: #002DB3;  margin-right: 3px;"></i> Customer Care</a>
      </div>
      <div class="dropdown">
        <button id="profileIcon" class="dropbtn" style="display: none;">
          <img src="/images/iconprofile.png" alt="Profile" width="45" height="45" class="profile-icon">

        </button>
        <div class="dropdown-content">
          <a href="/Profile">Profile</a>
          <a href="#" id="logoutButton">Logout</a>
        </div>
      </div>
    </nav>
    <div class="header-content">
    </div>

    <!-- Responsive Drawer -->
    <div class="drawer">
      <button id="closeDrawer" class="exit-button">
        <i class="fas fa-times"></i>
      </button>
      <div class="nav-items">
        <table>
          <tr>
            <td>
              <a href="/Profile" id="profileMenu" style="display: none;">
                <div class="profile-link">
                  <img src="/images/iconprofile.png" alt="Profile">
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <td style="text-align: left;"><a href="/">Home</a></td>
          </tr>
          <tr>
            <td style="text-align: left;"><a href="/menu">Menu</a></td>
          </tr>
          <tr>
            <td style="text-align: left;"><a href="/Vieworder">Delivery Status</a></td>
          </tr>
          <tr>
            <td style="text-align: left;"><a href="/AboutUs">About Us</a></td>
          </tr>
          <tr>
            <td style="text-align: left;"><a href="/ContactUs">Customer Care</a></td>
          </tr>

          <tr></tr>
          <tr>
            <td>
              <a href="#" id="logoutMenu" style="display: none;">Logout</a>
          </tr>

        </table>
      </div>
    </div>
  </header>
  <br>
  <div class="containers">
    <img src="/images/myorderslogo.png" alt="Profile" class="myorderslogo">
    <div class="tab">
      <button class="tablinks" id="active" onclick="openTab('active')">Active Orders</button>
      <button class="tablinks" id="past" onclick="openTab('past')">Past Orders</button>
    </div>
    <div id="active-orders">
      <!-- Active Orders Container -->
    </div>
    <div id="past-orders" style="display: none;">
      <!-- Past Orders Container -->
    </div>
  </div>

  <div class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com/tapsihansapasongbayog/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.messenger.com/t/100783298129453" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
    </div>
    <div class="copyright">
      &copy; 2023 Bahay Pares Tapsihan – Dasmariñas.
    </div>
  </div>

  <script>
    const username = sessionStorage.getItem('username');
    const userId = sessionStorage.getItem('userId');

    function createOrderContainer(order) {
      const orderContainer = document.createElement('div');
      orderContainer.classList.add('order-container');

      // Assuming order.orderDate is in a format that JavaScript's Date constructor can parse.
      const orderDate = new Date(order.orderDate);

      const formattedOrderDate = orderDate.toLocaleString('en-US', {
        timeZone: 'Asia/Manila',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
      });

      // Create a unique container for each order
      orderContainer.innerHTML = `
    <div class="order-details">
      <div class="order-header">
        <span><img src="/images/bahaypareslogo.png" alt="Logo" width="70px" height="70px" style="filter: grayscale(100%);"></span><br>
        <span class="order-id">Order ID: <br>${order.orderId}</span><br>
        <span class="order-date">Order Date: <br>${formattedOrderDate}</span><br>
        <span class="delivery-status">Delivery Status: <br>${order.deliverystatus}</span><br>
        <button class="cancel-button" onclick="cancelOrder('${order.orderId}')">Cancel</button>
      </div>
      <div class="order-items">
        <!-- Loop through cart items and create item elements here -->
      </div>
      <div class="order-total" style="font-size: 12px;">Subtotal: Php ${order.totalprice.Subtotal}</div>
      <div class="order-total" style="font-size: 12px;">Delivery Fee: Php ${order.totalprice.DeliveryFee}</div>
      <div class="order-total" style="font-size: 12px;">Discount: Php ${order.discount.CustomerDiscount} | ${order.discount.SelectedDiscount}</div>
      <div class="order-total" style="font-size: 20px;">Total: Php ${order.totalprice.Total}</div>
    </div>
  `;

      return orderContainer;
    }

    function createDeliveredOrderContainer(order) {
      const orderContainer = document.createElement('div');
      orderContainer.classList.add('order-container');

      // Assuming order.orderDate is in a format that JavaScript's Date constructor can parse.
      const orderDate = new Date(order.orderDate);

      const formattedOrderDate = orderDate.toLocaleString('en-US', {
        timeZone: 'Asia/Manila',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
      });


      // Create a unique container for each order
      orderContainer.innerHTML = `
    <div class="order-details">
      <div class="order-header">
        <span><img src="/images/bahaypareslogo.png" alt="Logo" width="70px" height="70px" style="filter: grayscale(100%);"></span><br>
        <span class="order-id">Order ID: <br>${order.orderId}</span><br>
        <span class="order-date">Order Date: <br>${formattedOrderDate}</span><br>
        <span class="delivery-status">Delivery Status: <br>${order.deliverystatus}</span><br>
      </div>
      <div class="order-items">
        <!-- Loop through cart items and create item elements here -->
      </div>
      <div class="order-total" style="font-size: 12px;">Subtotal: Php ${order.totalprice.Subtotal}</div>
      <div class="order-total" style="font-size: 12px;">Delivery Fee: Php ${order.totalprice.DeliveryFee}</div>
      <div class="order-total" style="font-size: 12px;">Discount: Php ${order.discount.CustomerDiscount} | ${order.discount.SelectedDiscount}</div>
      <div class="order-total" style="font-size: 20px;">Total: Php ${order.totalprice.Total}</div>
    </div>
  `;

      // Create item elements and add them to the "order-items" section
      const orderItemsContainer = orderContainer.querySelector('.order-items');
      order.items.forEach(item => {
        const itemElement = createItemElement(item);
        orderItemsContainer.appendChild(itemElement);
      });

      return orderContainer;
    }


    function createItemElement(item) {
      const itemElement = document.createElement('div');
      itemElement.classList.add('item');
      itemElement.innerHTML = `
        <span class="item-name">${item.name}</span><br>
        <span class="item-quantity">Quantity: ${item.quantity}</span><br>
        <span class="item-price">Price: Php ${item.price.toFixed(2)}</span>
      `;
      return itemElement;
    }

    function openTab(tabName) {
      const tabs = document.getElementsByClassName('tablinks');
      for (const tab of tabs) {
        tab.classList.remove('active');
      }

      // Hide all order tables by default
      document.getElementById('active-orders').style.display = 'none';
      document.getElementById('past-orders').style.display = 'none';

      // Show the selected order table
      document.getElementById(tabName + '-orders').style.display = 'block';

      // Add the "active" class to the clicked tab button
      document.getElementById(tabName).classList.add('active');

      // Call fetchAllOrders2 when "Past Orders" tab is clicked
      if (tabName === 'past') {
        fetchAllOrders2();
        
      } else {
        fetchAllOrders(); // Call fetchAllOrders for "Active Orders" tab
      }
    }

    // Initially, set the "Active Orders" tab as active
    document.querySelector('.tab button').click();


    async function cancelOrder(orderId) {
      try {
        const response = await fetch('/cancelOrder', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            orderId
          }),
        });

        if (response.status === 200) {
          // Order cancellation was successful
          alert('Order has been canceled.');
          fetchAllOrders(); // Refresh the order list
        } else {
          // Handle cancellation failure
          alert('You cannot cancel order that is already Delivering');
        }
      } catch (error) {
        console.error('Error canceling order:', error);
      }
    }


    async function fetchAllOrders() {
      try {
        const response = await fetch('/allOrders');
        const allOrders = await response.json();

        const activeOrdersContainer = document.getElementById('active-orders');
        activeOrdersContainer.innerHTML = '';

        const activeOrders = allOrders.filter(order => order.deliverystatus !== 'Delivered');
        if (activeOrders.length === 0) {
             // Create a container for the logo and text
      const placeholderContainer = document.createElement('div');
      placeholderContainer.style.padding = '50px';
      placeholderContainer.style.textAlign = 'center';

      // Create a placeholder image for the restaurant logo
      const logoElement = document.createElement('img');
      logoElement.src = "/images/bahaypareslogo.png"; // Set the image URL for the restaurant logo
      logoElement.alt = 'Restaurant Logo';
      logoElement.style.width = '250px'; // Set width, adjust as needed
      logoElement.style.height = '250px'; // Set height, adjust as needed
      logoElement.style.filter = 'grayscale(100%)';
      logoElement.style.opacity = '50%';

      // Create a message and append the logo
      const noOrdersMessage = document.createElement('p');
      noOrdersMessage.textContent = 'No active orders found. Please Order In our Menu!';

      // Create a button element
      const orderButton = document.createElement('button');
      orderButton.style.backgroundColor = "#0056b3"; // Background color should be corrected
      orderButton.style.color = "white";
      orderButton.style.border = "none";
      orderButton.style.padding = "10px 30px";
      orderButton.style.textAlign = "center";
      orderButton.style.textDecoration = "none";
      orderButton.style.display = "inline-block";
      orderButton.style.fontSize = "16px";
      orderButton.style.cursor = "pointer";
      orderButton.style.borderRadius = "4px";
      orderButton.style.margin = "0 10px";
      orderButton.textContent = 'Order Now';
      // Add an event listener to handle the button click and navigate to the order page
      orderButton.addEventListener('click', () => {
        window.location.href = '/Menu'; // Replace '/order' with the actual URL of your order page
      });

      // Append the logo, the message, and the button to the container
      placeholderContainer.appendChild(logoElement);
      placeholderContainer.appendChild(noOrdersMessage);
      placeholderContainer.appendChild(orderButton);

      activeOrdersContainer.appendChild(placeholderContainer);
        } else {
          activeOrders.forEach(order => {
            const orderContainer = createOrderContainer(order);
            const orderItemsContainer = orderContainer.querySelector('.order-items');
            order.items.forEach(item => {
              const itemElement = createItemElement(item);
              orderItemsContainer.appendChild(itemElement);
            });
            activeOrdersContainer.appendChild(orderContainer);
          });
        }
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    async function fetchAllOrders2() {
      try {
        const response = await fetch('/allOrders');
        const allOrders = await response.json();

        const pastOrdersContainer = document.getElementById('past-orders');
        pastOrdersContainer.innerHTML = ''; // Clear any existing content

        // Filter orders that are "delivered"
        const deliveredOrders = allOrders.filter(order => order.deliverystatus === 'Delivered');

        if (deliveredOrders.length === 0) {
          // Create a container for the logo and text
      const placeholderContainer = document.createElement('div');
      placeholderContainer.style.padding = '50px';
      placeholderContainer.style.textAlign = 'center';

      // Create a placeholder image for the restaurant logo
      const logoElement = document.createElement('img');
      logoElement.src = "/images/bahaypareslogo.png"; // Set the image URL for the restaurant logo
      logoElement.alt = 'Restaurant Logo';
      logoElement.style.width = '250px'; // Set width, adjust as needed
      logoElement.style.height = '250px'; // Set height, adjust as needed
      logoElement.style.filter = 'grayscale(100%)';
      logoElement.style.opacity = '50%';
	
      // Create a message and append the logo
      const noDeliveredOrdersMessage = document.createElement('p');
      noDeliveredOrdersMessage.textContent = 'No delivered orders found. Please Order In our Menu!';
      
      // Create a button element
      const orderButton = document.createElement('button');
      orderButton.style.backgroundColor = "#0056b3"; // Background color should be corrected
      orderButton.style.color = "white";
      orderButton.style.border = "none";
      orderButton.style.padding = "10px 30px";
      orderButton.style.textAlign = "center";
      orderButton.style.textDecoration = "none";
      orderButton.style.display = "inline-block";
      orderButton.style.fontSize = "16px";
      orderButton.style.cursor = "pointer";
      orderButton.style.borderRadius = "4px";
      orderButton.style.margin = "0 10px";
      orderButton.textContent = 'Order Now';
      // Add an event listener to handle the button click and navigate to the order page
      orderButton.addEventListener('click', () => {
        window.location.href = '/Menu'; // Replace '/Menu' with the actual URL of your order page
      });

      // Append the logo, the message, and the button to the container
      placeholderContainer.appendChild(logoElement);
      placeholderContainer.appendChild(noDeliveredOrdersMessage);
      placeholderContainer.appendChild(orderButton);

      pastOrdersContainer.appendChild(placeholderContainer);
        } else {
          deliveredOrders.forEach(order => {
            const orderContainer = createDeliveredOrderContainer(order);
            pastOrdersContainer.appendChild(orderContainer);
          });
        }
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }
    document.addEventListener('DOMContentLoaded', function () {
      // Click event handler for the Profile link
      const profileLink = document.querySelector('a3[href="/Profile"]');
      profileLink.addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default navigation behavior
        const welcomeUsername = document.getElementById('welcomeUsername').textContent;
        sessionStorage.setItem('welcomeUsername', welcomeUsername);
        window.location.href = '/Profile'; // Navigate to the "Profile" page
      })
    });
    document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.querySelector('.menu-icon'); // Change the selector to use class
      const drawer = document.querySelector('.drawer');
      const profileIcon = document.getElementById('profileIcon');
      const logoutButton = document.getElementById('logoutButton');
      const profileMenu = document.getElementById('profileMenu');
      const logoutMenu = document.getElementById('logoutMenu');
      menuIcon.addEventListener('click', function () {
        if (drawer.style.left === '0px' || !drawer.style.left) {
          drawer.style.left = '-250px'; // Hide the drawer
        } else {
          drawer.style.left = '0'; // Show the drawer
        }
      });

      const closeDrawerButton = document.getElementById('closeDrawer');
      closeDrawerButton.addEventListener('click', function () {
        drawer.style.left = '-250px'; // Hide the drawer
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      const logoutButton = document.getElementById('logoutButton');
      const logoutMenu = document.getElementById('logoutMenu');
      fetch('/check-auth', {
          method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
          if (data.isAuthenticated) {
            const profileIcon = document.getElementById('profileIcon');
            const profileMenu = document.getElementById('profileMenu');
            profileIcon.style.display = 'block';
            profileMenu.style.display = 'block'; // Show in drawer
            logoutMenu.style.display = 'block';
            // Add a click event listener to the logout button
            logoutButton.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', { // Check if this URL is correct
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
            logoutMenu.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              // Check if the user confirmed the logout
              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', { // Check if this URL is correct
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
          } else {
            const profileIcon = document.getElementById('profileIcon');
            logoutButton.style.display = 'none';
            profileIcon.style.display = 'none';
            const profileMenu = document.getElementById('profileMenu');
            profileMenu.style.display = 'none'; // Show in drawer
            logoutMenu.style.display = 'none';


          }
        })
        .catch(error => {
          console.error('Error checking authentication:', error);
        });
    });

  </script>



</body>

</html>